<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name,placeholder: "Name",class: "form-control" %>
  </div>
</div>
</div>
  <div class="row">
     <div class="col-md-6">
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :employee_email,placeholder: "Email",class: "form-control" %>
  </div>
</div>
</div>
<div class="row">
   <div class="col-md-6">

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :employee_address, placeholder: "Address" ,class: "form-control" %>
  </div>
</div>
</div>
<div class="row">
   <div class="col-md-6">

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, id: :employee_contact, placeholder: "Contact", class: "form-control" %>
  </div>
</div>
</div>
<div class="row">
   <div class="col-md-6">

  <div class="field">
    <%= form.label :employee_no %>
<!--     <label class="col-sm-6 control-label">Employee  No</label>
 -->    <%= form.text_field :employee_no, id: :employee_employee_no , placeholder: "Employee No",readonly: true,:value=> @employee.employee_no, class: "form-control"%>
  </div>
</div>
</div>
<div class="row">
  <div class="actions">
    <%= form.submit  "Submit" ,class: "btn btn-primary" %>
    <%= link_to 'Back', employees_path,class: "btn btn-default" %>

  </div>
</div>
<% end %>
