<p id="notice"><%= notice %></p>
<div class="panel panel-danger">
   <div class="panel-heading">Details</div>
  <div class="panel-body">

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @employee.contact %>
</p>

<p>
  <strong>Employee no:</strong>
  <%= @employee.employee_no %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
</div>
</div>
