
<%= form_for @form do |f| %>
<%#= f.label :name %>
<div class="col-md-4">
<%= f.text_field :name ,placeholder: 'Enter Form Name', class: "form-control" %>
</div>
<%= f.fields_for :form_fields do |builder| %>
  <%= render 'field_fields', f: builder %>
<% end %><br><br>

<%= link_to_add_fields "Add Field", f, :form_fields %>


<div class="actions">
<%= f.submit "Create Form",class: "btn btn-primary" %>
</div>
<% end %>