 <table class="table table-bordered" >

  

  
         
                <thead>
                    <tr>   
                         <% if @data_entry.present? %>
                       <% @data_entry.properties.each do |k, v| %>

                
                        <th><%="#{k}"%></th>
                        <% end %>
                        <% if current_user.role == "Admin" %>
                        <th>Data Entry By</th>
                        <% end %>
                        <th>Actions</th>

                     </tr>
                </thead>
            
              <tbody>
                    <tr>
                     <% @data_entries.each do |data| %>
                     <% data.properties.each do |k,v| %>
                      <td><%="#{v}"%></td>

                      <% end %>
                      <% if current_user.role == "Admin" %>
                      <td><%= data.employee.name if data.employee.present? %></td>
                      <% end %>

                      <td>
                        <%= link_to 'Show',data,class: "btn btn-warning btn-sm" %>
                        <%= link_to 'Edit',edit_data_entry_path(data),class: "btn btn-success btn-sm" %>
                        <%= link_to 'Delete', data, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
                    </tr>
                <% end %>
              </tbody>
              </table>
                       <% end %>
                      
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
<%= link_to 'Back', forms_path, class: "btn btn-primary"  %>
