


<p id="notice"><%= notice %></p>

<div class="panel panel-info">
	 <div class="panel-heading">Details</div>
	<div class="panel-body">
<% @data_entry.properties.each do |name, value| %>

<p>
  <b><%= name.humanize %>:</b>
  <%= value %>
</p>
<% end %>
</div>
<%= link_to 'Edit', edit_data_entry_path(@data_entry),class: "btn btn-link" %> |
<%= link_to 'Back', forms_path ,class: "btn btn-link"%>
</div>
